@page
@model IndexModel
@{
    ViewData["Title"] = "Introduction";
}

<div>
    <h1>Welcome</h1>
    <p>
        Cloud computing is the delivery of computing services over the internet, including servers, storage, databases, networking, software, and more. Instead of owning and maintaining physical hardware and infrastructure, users can access these resources on-demand from cloud providers.
    </p>
    <p>
        Key features of cloud computing include:
        <ol>
            <li>On-demand self-service</li>
            <li>Broad network access</li>
            <li>Resource pooling</li>
            <li>Rapid elasticity</li>
            <li>Measured service</li>
        </ol>
    </p>
</div>
